doctype html
html
    head
        title Device Management
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='stylesheets/style.css', rel='stylesheet')
        script(type='text/javascript', src="https://code.jquery.com/jquery-2.1.3.js")
        script(type='text/javascript', src="javascripts/management.js")

        
    body
        div.container
            div.jumbotron
                h1 Devices
                p View, manage and control the devices in your network from here.
        
        div(class="panel panel-default"  style="float: none; width: 960px; margin-left:auto; margin-right:auto;")  
            div(class="panel-heading") Available Devices     
            div(class="panel-body")
                ul#devices
                    each device, index in devices
                        li.device
                            img(src="images/device_icon.png").device_icon
                            div.properties
                                div.device_id.title Device ID:
                                    div.value #{device.sessionId}
                                |     
                                div.manufacturer.title Manufacturer: 
                                    div.value #{device.manufacturer}
                                |     
                                div.model.title Model: 
                                    div.value #{device.model}
                                |     
                                div.geo.title Geo-location
                                  div.longitude Longitude: 
                                    div.value #{device.geo.longitude}
                                  |       &#x9;
                                  div.latitude.title Latitude:
                                    div.value  #{device.geo.latitude}
                                | 
                                div.sensors
                                  each sensor, sindex in device.sensors
                                      div.sensor
                                        div.sensor_id.title Sensor ID:
                                            div.value  #{sensor.id}
                                        |         
                                        div.sensor_name.title Name:
                                            div.value  #{sensor.name}
                                        |         
                                        div.sensor_sense.title Capability:
                                            div.value  #{sensor.sense}
                                        |         
                                        div.sensor_unit.title Unit:
                                            div.value  #{sensor.unit}
                                        |         
                                        div.sensor_type.title Type:
                                            div.value  #{sensor.type}
                                        |         
                                        div.sensor_stream
                                          div.sensor_chart
                                          sensor.
                                          button.streamBtn.startSensorStream Start stream
                                          button.streamBtn.stopSensorStream Stop stream
                                |     
                                div.actuators
                                  each actuator, aindex in device.actuators
                                      div.actuator
                                        div.actuator_id.title Actuator ID: 
                                            div.value #{actuator.id}
                                        |         
                                        div.actuator_name.title Name:
                                            div.value #{actuator.name}
                                        |         
                                        div.options.title Options
                                          each option in actuator.options
                                            button.optionBtn #{option}


    script(type='text/javascript').
        $( document ).ready(function() {

            var neuronURL = "http://localhost:9998/api/";

            // Toggle device properties by clicking the icon
            $(".properties").hide();

            $(".device_icon").click(function(event) {
                $(this).siblings().toggle();
            });

            //Open a new eventsource on button press
            $(".startSensorStream").click(function(event) {

                var sensor = $(event.target).parents();
                var deviceId = sensor.closest(".properties").children().children().html().trim();
                var sensorId = sensor.closest(".sensor").children().children().html().trim();
                var url = neuronURL + "devices/" + deviceId + "/sensors/" + sensorId + "/stream";

                console.log("Starting sensor stream on URL: " + url);
                sensor.eventSource = new EventSource(url);

                sensor.eventSource.onopen = function() {
                    console.log("Opened client SSE connection");
                }
                sensor.eventSource.onmessage = function(message) {
                    console.log("new data received: " + message.data);
                    var json = message.data;
                    dataPack = JSON.parse(json);
                    console.log("data: " + dataPack.data);
                    if(dataPack.data == "CLOSE") {
                        sensor.eventSource.close();
                        delete sensor.eventSource;
                    }
                }
                sensor.eventSource.onerror = function(error) {
                    console.log("error: " + error.data);
                }
            });

            //Close the eventsource on button press
            $(".stopSensorStream").click(function(event) {

                var btn = $(event.target);
                var sensor = btn.parents();
                var deviceId = sensor.closest(".properties").children().children().html().trim();
                var sensorId = sensor.closest(".sensor").children().children().html().trim();
                var url = neuronURL + "devices/" + deviceId + "/sensors/" + sensorId + "/stream";

                var xhr = new XMLHttpRequest();
                var params = "";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(params);
            });

            //Send an option to the server
            $(".optionBtn").click(function(event) {

                console.log("Clicked option");

                var btn = $(event.target);
                var sensor = btn.parents();
                var deviceId = sensor.closest(".properties").children().children().html().trim();
                var actuatorId = sensor.closest(".actuator").children().children().html().trim();
                var url = neuronURL + "devices/" + deviceId + "/actuators/" + actuatorId;

                console.log("url: " + url);
                var option = btn.text();
                console.log("option: " + option);
                var xhr = new XMLHttpRequest();
                var params = "{ \"data\": \"" + option + "\"}";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(params);

            });
        });
