doctype html
html
    head
        title Device Management
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='stylesheets/style.css', rel='stylesheet')
        script(type='text/javascript', src="https://code.jquery.com/jquery-2.1.3.js")
        script(type='text/javascript', src="javascripts/management.js")

        
    body
        div.container
            div.jumbotron
                h1 Devices
                p View, manage and control the devices in your network from here.
        
        div(class="panel panel-default"  style="float: none; width: 960px; margin-left:auto; margin-right:auto;")  
            div(class="panel-heading") Available Devices     
            div(class="panel-body")
                ul#devices
                    each device, index in devices
                        img(src="images/device_icon.png")
                        li#device
                            #device_id Device ID: #{device.sessionId}
                            |     
                            #manufacturer Manufacturer: #{device.manufacturer}
                            |     
                            #model Model: #{device.model}
                            |     
                            #geo Geo-location
                              #longitude Longitude: #{device.geo.longitude}
                              |       &#x9;
                              #latitude Latitude: #{device.geo.latitude}
                            | 
                            #sensors
                              each sensor, sindex in device.sensors
                                  #sensor Sensor
                                    #sensor_id Sensor ID: #{sensor.id}
                                    |         
                                    #sensor_name Name: #{sensor.name}
                                    |         
                                    #sensor_sense Capability: #{sensor.sense}
                                    |         
                                    #sensor_unit Unit: #{sensor.unit}
                                    |         
                                    #sensor_type Type: #{sensor.type}
                                    |         
                                    #sensor_stream
                                      #sensor_chart
                                      button Start stream
                                      |           
                                      button Stop stream
                            |     
                            #actuators
                              each actuator, aindex in device.actuators
                                  #actuator Actuator
                                    #actuator_id Actuator ID: #{actuator.id}
                                    |         
                                    #actuator_name Name: #{actuator.name}
                                    |         
                                    #options Options
                                      each option in actuator.options
                                        button #{option}


    script(type='text/javascript').
        $( document ).ready(function() {      
        });
